<form
  class="w-75 mx-auto mt-4"
  [formGroup]="checkForm"
  (ngSubmit)="handleForm()"
>
  <div class="form-item">
    <label for="Code">Email:</label>
    <input
      class="form-control"
      id="email"
      formControlName="email"
      type="text"
    />
  </div>
  <div class="form-item">
    <label for="newPassword">New Password:</label>
    <input
      class="form-control"
      id="newPassword"
      formControlName="newPassword"
      type="text"
    />
  </div>
  <button class="main-btn">Send</button>
</form>
